html {
	overflow-y: scroll;
}

body {
	background-color: #212830;
	color: #fff;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: #87bfcf;
}

#header a, #menu a {
	text-decoration: none;
}

#header {
	background-color: #0d1117;
	clear: both;
	color: #555;
	font-size: 1.78em;
	padding: 0.7ex 0.7ex 0.7ex 0.7em;
}

#headerLink {
	color: #ffffff;
	margin-left: 5px;
}

#menu {
	clear: both;
	color: #069;
	overflow: hidden;
	background-color: #587397;
	padding: 0.7ex;
}

#menu a {
	padding: 0.5ex 1ex;
	color: #fff;
}

#menu a:hover {
	background-color: #a4cad8;
}

#intro {
    margin: -0.5em 0 0 0;
    font-size: 1.1em;
    text-align: left;
    padding: 0.7em;
}

#content-left-wrapper {
    float: left;
    width: 100%; /* req to keep content above sidebar in source code */
}

#content-left {
    margin: 0 340px 0 0;
}

#content-right {
    float: left;
    width: 300px;
    margin-left: -300px;
}
